* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-margin-top: 120px;
    scroll-behavior: smooth;
}

::selection {
    background-color: rgb(118, 142, 237);
}

body {
    background-color: #080c17;
}

/*------------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------Home Page------------------------------------------------------------*/

.Container0 {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.NavBar {
    background-color: #171c268f;
    backdrop-filter: blur(30px);
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #464A4F;
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.NavBar:hover {
    border: 1px solid #2564eba4;
    transition: all 0.5s ease-in-out;
}

.NavLogo {
    color: white;
    font-family: "Dancing Script", cursive;
    font-weight: bolder;
}

.NavLogo span {
    color: #2563EB;
    font-weight: lighter;
    display: inline-block;
    transition: transform 0.6s ease;
}

.NavLogo:hover span {
    color: #4179f2;
    transform: rotate(360deg);
}

.NavLogo:hover h1 {
    border-bottom: #2563EB 1px solid;
}

.NavLinks ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 35px;
    padding-top: 7px;
}

.NavLinks ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.NavLinks ul li a:hover {
    border-bottom: 3px solid #2563EB;
}

.check {
    display: none;
}

.bars {
    display: none;
    z-index: 100;
    position: relative;
}

.Container1 {
    width: 85%;
    margin: auto;
}

.HomeContent {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.HomePhoto {
    width: 40%;
    position: absolute;
    top: 26%;
    left: 60%;
}

@keyframes floatingPhoto {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

.HomePhoto img {
    width: 100%;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    animation: floatingPhoto 3s ease-in-out infinite;
}

.HomePhoto:hover img {
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 5px #2563EB;
}

.Content {
    background-color: #9391914f;
    padding: 50px;
    width: 50%;
    height: 40%;
    margin-top: 200px;
    border-radius: 50px;
    color: white;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.114);
    transition: all 0.5s ease-in-out;
    font-family: "Playfair Display", serif;
}

.Content:hover {
    box-shadow: 0px 0px 5px 5px #2563EB;
    transition: all 0.5s ease-in-out;
}

.Content h2 {
    font-size: 15px;
    font-weight: bold;
    background-color: #4d7295ac;
    border-radius: 30px;
    width: fit-content;
    padding: 8px 12px;
    transition: all 0.5s ease-in-out;
}

.Content h2 span {
    color: #2563EB;
    font-size: 25px;
    margin-right: 3px;
}

.Content h2:hover {
    box-shadow: 0px 0px 0px 2px #2563EB;
    transition: all 0.5s ease-in-out;
}

.Content h1 {
    margin-top: 7px;
    font-size: 55px;
    font-weight: bolder;
    border: transparent 2px solid;
}

.Content h1:hover {
    border-bottom: 2px solid #2563EB;
    width: fit-content;
}

.Content p {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
    border: transparent 2px solid;
}

.Content p:hover {
    border-bottom: 2px solid #2563EB;
    width: fit-content;
}

.Content ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.Content ul li {
    color: rgba(255, 255, 255, 0.525);
    background-color: #4d7295ac;
    padding: 5px 15px;
    border-radius: 17px;
    margin-bottom: 25px;
    transition: all 0.5s ease-in-out;
    font-weight: 550;
    font-size: 15px;
}

.Content ul li:hover {
    color: white;
    box-shadow: 0px 0px 0px 2px #2563EB;
    transform: translateY(-10px);
    transition: all 0.5s ease-in-out;
}

.Content a {
    text-decoration: none;
    color: white;
    background-color: #4d7295ac;
    padding: 5px 8px;
    margin-right: 15px;
    font-weight: 600;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
}

.Content a:hover {
    box-shadow: 0px 0px 0px 2px #2563EB;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
}

/*------------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------About Me----------------------------------------------------------------*/

.AboutMe {
    margin-top: 220px;
    font-family: "Roboto", sans-serif;
}

.Container2 {
    margin: auto;
    width: 85%;
    display: flex;
    gap: 200px;
}

.Title {
    color: white;
    background-color: #4d729554;
    padding: 7px 12px;
    width: fit-content;
    border-radius: 25px;
    font-weight: lighter;
    font-size: 18px;
    margin-left: 115px;
    margin-bottom: 35px;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out;
}

.Title:hover {
    box-shadow: 0px 0px 0px 2px #2563EB;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
}

.Title span {
    color: #2564eb;
    margin-right: 3px;
    font-size: 25px;
}

.AboutContent1 {
    color: white;
    width: 45%;
}

.AboutContent1 h2 {
    white-space: pre-line;
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    border: 2px solid transparent;
}

.AboutContent1 h2:hover {
    border-bottom: 2px solid #2563EB;
    width: fit-content;
}

.AboutContent1 h2 span {
    color: #93C5FD;
}

.first {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    padding-bottom: 15px;
}

.second span {
    color: #2563EB;
    margin-right: 5px;
    font-size: 30px;
}

.second:hover {
    border-bottom: 2px solid #2563EB;
    width: fit-content;
}

.AboutContent2 {
    width: 50%;
    background-color: #93919143;
    border-radius: 60px;
    padding: 35px;
    transition: all 0.5s ease-in-out;
}

.AboutContent2:hover {
    box-shadow: 0px 0px 0px 2px #2563EB;
    transition: all 0.5s ease-in-out;
}

.AboutContent2 h2 {
    color: #87bdfa;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    border: transparent solid 2px;
}

.AboutContent2 h2:hover {
    border-bottom: 2px solid #2563EB;
    width: fit-content;
}

.AboutContent2 p {
    color: white;
    line-height: 25px;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600;
}

.AboutContent2 a {
    font-weight: 550;
    text-decoration: none;
    color: white;
    background-color: #4d7295ac;
    padding: 8px 11px;
    margin-right: 15px;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
}

.AboutContent2 a:hover {
    box-shadow: 0px 0px 0px 2px #2563EB;
    transition: all 0.5s ease-in-out;
}

/*------------------------------------------------------------------------------------------------------------------------------------*/

/* --------------------------------------------------------------My Skills-----------------------------------------------------------*/

.MySkills {
    margin-top: 130px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.SkillsTitle {
    color: #93C5FD;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 100px;
    position: relative;
    transition: all 0.5s ease-in-out;
}

@keyframes titleColor {
    0% {
        color: #93C5FD;
    }

    50% {
        color: rgb(31, 31, 122);
    }

    100% {
        color: #93C5FD;

    }
}

.SkillsTitle:hover {
    animation: titleColor 3s ease-in-out;
    transition: all 0.5s ease-in-out;
}


.SkillsTitle ::after {
    content: "";
    border-bottom: 1px solid #93C5FD;
    width: 130px;
    position: absolute;
    top: 115%;
    left: 45%;
}

.SkillsTitle ::before {
    content: "";
    border-bottom: 1px solid #93C5FD;
    width: 80px;
    position: absolute;
    top: 135%;
    left: 47%;
}

.SkillsContent ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.SkillsContent ul li {
    color: white;
    background-color: #4365856b;
    padding: 25px 60px;
    font-size: 30px;
    border-radius: 45px;
    animation: floatingSkills 3s ease-in-out infinite;
    transition: all 0.5s ease-in-out;
}

@keyframes floatingSkills {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

.SkillsContent ul li:hover {
    box-shadow: 0px 0px 2px 3px #2563EB;
    transition: all 0.5s ease-in-out;
}

/*------------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------My Projects--------------------------------------------------------------*/

.MyProjects {
    font-family: "Roboto", sans-serif;
    margin-top: 100px;
}

.Container3 {
    width: 85%;
    margin: auto;
    display: flex;
    gap: 90px;
    justify-content: center;
    text-align: center;
}

.ProjectsTitle {
    color: #93C5FD;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 100px;
    position: relative;
    text-align: center;
    letter-spacing: 2px;
}

@keyframes projectsColor {
    0% {
        color: #93C5FD;
    }

    50% {
        color: rgb(31, 31, 122);
    }

    100% {
        color: #93C5FD;

    }
}

.ProjectsTitle:hover {
    animation: projectsColor 3s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.ProjectsTitle::after {
    content: "";
    border-bottom: 1px solid #93C5FD;
    width: 170px;
    position: absolute;
    top: 120%;
    left: 44%;
}

.ProjectsTitle ::before {
    content: "";
    border-bottom: 1px solid #93C5FD;
    width: 90px;
    position: absolute;
    top: 135%;
    left: 47%;
}

@keyframes floatingProjects {
    0% {
        transform: translatex(0px);
    }

    50% {
        transform: translatex(-20px);
    }

    100% {
        transform: translatex(0px);
    }
}

.ProjectsContent1 {
    background-color: #93919144;
    width: 40%;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
    animation: floatingProjects 3s ease-in-out infinite;
}

.ProjectsContent1 img {
    width: 90%;
    height: 70%;
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.8s ease-in-out;
}

.ProjectsContent1 h3 {
    margin-top: 7px;
    color: white;
    font-size: 25px;
    font-weight: lighter;
    padding-bottom: 10px;
}

.ProjectsContent1 a {
    color: #93C5FD;
    font-size: 15px;
    padding-bottom: 15px;
    padding-right: 5px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.ProjectsContent1 a i {
    padding-right: 5px;
}

.ProjectsContent1:hover {
    box-shadow: 0px 0px 2px 3px #2563EB;
    transition: all 0.5s ease-in-out;
}

.ProjectsContent2 {
    background-color: #93919144;
    width: 40%;
    border-radius: 30px;
    animation: floatingProjects 3s ease-in-out infinite;
    transition: all 0.5s ease-in-out;
}

.ProjectsContent2:hover {
    box-shadow: 0px 0px 2px 3px #2563EB;
    transition: all 0.5s ease-in-out;
}

.ProjectsContent2 img {
    width: 90%;
    height: 70%;
    border-radius: 20px;
    margin-top: 20px;
    transition: all 0.8s ease-in-out;
}

.ProjectsContent1:hover img,
.ProjectsContent2:hover img {
    transform: scale(1.06);
    transition: all 0.8s ease-in-out;
}

.ProjectsContent2 h3 {
    margin-top: 7px;
    color: white;
    font-size: 25px;
    font-weight: lighter;
    padding-bottom: 10px;
}

.ProjectsContent2 a {
    color: #93C5FD;
    font-size: 15px;
    padding-bottom: 15px;
    padding-right: 5px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.ProjectsContent1 a:hover,
.ProjectsContent2 a:hover {
    color: white;
    transition: all 0.5s ease-in-out;
}

.ProjectsContent2 a i {
    padding-right: 5px;
}

/*------------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------Contact Me------------------------------------------------------------------*/

.ContactMe {
    margin-top: 150px;
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
}

.ContactTitle {
    color: white;
    background-color: #4d7295ac;
    padding: 5px 10px;
    width: fit-content;
    border-radius: 25px;
    font-weight: 500;
    font-size: 12px;
    margin-left: 115px;
    margin-bottom: 35px;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out;
}

.ContactTitle:hover {
    box-shadow: 0px 0px 2px 3px #2563EB;
    transition: all 0.5s ease-in-out;
}

.ContactMe span {
    color: #2563EB;
    margin-right: 5px;
}

.ContactInformation {
    width: 45%;
    color: white;
}

.ContactInformation h3 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: transparent 2px solid;
}

.ContactInformation h3:hover {
    border-bottom: 2px solid #2563EB;
    width: fit-content;
}

.ContactInformation ul {
    list-style: none;
}

.ContactInformation ul li {
    white-space: pre-line;
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 40px;
    border: transparent 2px solid;
}

.ContactInformation ul li:hover {
    border-bottom: 2px solid #2563EB;
    width: fit-content;
}

.ContactForm {
    background-color: #9391913d;
    width: 45%;
    border-radius: 50px;
    padding: 30px;
    color: white;
    transition: all 0.5s ease-in-out;
}

.ContactForm:hover {
    box-shadow: 0px 0px 2px 3px #2563EB;
    transition: all 0.5s ease-in-out;
}

.ContactForm label {
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}

.ContactForm label:hover {
    border-bottom: #2563EB solid 2px;
    width: fit-content;
}

.ContactForm input {
    width: 65%;
    height: 30px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #D9D9D9B2;
    margin-bottom: 30px;
    transition: all 0.5s ease-in-out;
}

.ContactForm input:hover {
    box-shadow: 0px 0px 2px 3px #2563EB;
    transition: all 0.5s ease-in-out;
}

.ContactForm textarea {
    width: 70%;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #D9D9D9B2;
    transition: all 0.5s ease-in-out;
}

.ContactForm textarea:hover {
    box-shadow: 0px 0px 2px 3px #2563EB;
    transition: all 0.5s ease-in-out;
}

.button {
    margin-top: 20px;
    margin-right: 30px;
    background-color: #5ba0fa68;
    padding: 10px;
    color: white;
    border-radius: 15px;
    outline: none;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.5s ease-in-out;
}

.button:hover {
    box-shadow: 0px 0px 2px 3px #2563EB;
    transition: all 0.5s ease-in-out;
}

.link {
    background-color: #4D7295;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.link a {
    color: white;
    text-decoration: none;
}

.link:hover {
    box-shadow: 0px 0px 2px 3px #2563EB;
    transition: all 0.5s ease-in-out;
}

/*------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------Footer-----------------------------------------------------------------*/

.socialLinks {
    position: fixed;
    left: 0px;
    top: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: #2564eb 2px solid;
    border-radius: 50px;
    padding: 8px;
    transition: all 0.5s ease-in-out;
}

.socialLinks a i {
    font-size: 25px;
    color: white;
}

.socialLinks a i:hover {
    color: #2564eb;
    transition: all 0.5s ease-in-out;
}

.footer {
    padding: 20px;
    color: white;
    background-color: #171C26B2;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: all 0.5s ease-in-out;
    border: 1px solid #464A4F;
}

.footer:hover {
    border: #2563EB 1px solid;
    transition: all 0.5s ease-in-out;
}

/*------------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------- In Bettween The Tablet And The Small Desktop --------------------------------------------------*/

@media screen and (min-width: 769px) and (max-width: 1300px) {

    /*---------------------------------------------------------------------------------------------------------------------*/

    /*-------------------------------------------------------Home Page----------------------------------------------------*/

    .NavLogo {
        margin-left: -10px;
    }

    .NavLinks ul li a {
        font-size: 18px;
    }

    .Container1 {
        width: 90%;
        margin: auto;
    }

    .HomePhoto {
        width: 40%;
        position: absolute;
        top: 35%;
        left: 60%;
    }

    .Content {
        width: 50%;
        height: fit-content;
    }

    .NavLinks ul {
        gap: 25px;
    }

    .Content {
        padding: 40px;
        width: 55%;
        height: 35%;
        margin-top: 170px;
    }

    .Content h2 {
        font-size: 13px;
        padding: 6px 11px;
    }

    .Content h1 {
        font-size: 45px;
    }

    .Content p {
        font-size: 15px;
    }

    .Content ul li {
        padding: 3px 12px;
        font-size: 13px;
    }

    .Links {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 15px;
    }

    .Content a {
        font-size: 15px;
        padding: 5px 8px;
    }

    /*---------------------------------------------------------------------------------------------------------------------*/

    /*------------------------------------------------------- About Me ----------------------------------------------------*/

    .Container2 {
        width: 90%;
        gap: 150px;
    }

    .Title {
        font-size: 15px;
        margin-left: 55px;
        margin-bottom: 25px;
    }

    .AboutContent1 {
        color: white;
        width: 45%;
    }

    .AboutContent1 h2 {
        font-size: 25px;
    }

    .first {
        font-size: 15px;
        padding-bottom: 10px;
    }

    .AboutContent2 {
        width: 60%;
        background-color: #93919143;
        border-radius: 60px;
        padding: 30px 30px 15px 30px;
        transition: all 0.5s ease-in-out;
    }

    .AboutContent2 h2 {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .AboutContent2 p {
        font-size: 15px;
    }

    .AboutContent2 a {
        padding: 8px 11px;
        margin-right: 15px;
        border-radius: 25px;
        transition: all 0.5s ease-in-out;
        font-size: 15px;
    }

    .socialLinks {
        padding: 6px;
    }

    .socialLinks a i {
        font-size: 15px;
    }

    /*---------------------------------------------------------------------------------------------------------------------*/

    /*------------------------------------------------------- My Skills -----------------------------------------------------*/

    .SkillsTitle {
        font-size: 25px;
    }

    .SkillsTitle ::after {
        width: 100px;
        position: absolute;
        top: 115%;
        left: 45%;
    }

    .SkillsTitle ::before {
        width: 65px;
        position: absolute;
        top: 135%;
        left: 47%;
    }

    .SkillsContent ul li {
        padding: 20px 45px;
        font-size: 20px;
    }

    /*----------------------------------------------------------------------------------------------------------------------------*/

    /*------------------------------------------------------- My Projects -----------------------------------------------------*/

    .ProjectsTitle {
        font-size: 25px;
    }

    .ProjectsTitle::after {
        width: 120px;
        position: absolute;
        top: 120%;
        left: 44.5%;
    }

    .ProjectsTitle ::before {
        width: 70px;
        position: absolute;
        top: 135%;
        left: 47%;
    }

    .ProjectsContent1 {
        width: 45%;
        padding-bottom: 15px;
    }

    .ProjectsContent1 h3 {
        margin-top: 5px;
        font-size: 20px;
        padding-bottom: 5px;
    }

    .ProjectsContent2 {
        width: 45%;
        padding-bottom: 15px;
    }

    .ProjectsContent2 h3 {
        margin-top: 5px;
        font-size: 20px;
        padding-bottom: 5px;
    }

    /*---------------------------------------------------------------------------------------------------------------------*/
    /*------------------------------------------------------ Contact Me ---------------------------------------------------*/

    .ContactTitle {
        font-size: 10px;
        margin-left: 50px;
        margin-bottom: 20px;
    }

    .ContactInformation h3 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .ContactInformation ul li {
        font-size: 23px;
        margin-bottom: 25px;
    }

    .ContactForm label {
        display: block;
        font-size: 20px;
        font-weight: 600;
        margin-right: 20px;
        margin-bottom: 5px;
    }

    .ContactForm input {
        width: 95%;
        height: 30px;
        margin-bottom: 20px;
    }

    .ContactForm textarea {
        width: 100%;
    }

    .button {
        margin-top: 10px;
        margin-right: 15px;
        padding: 8px;
        font-size: 12px;
    }

    .link {
        margin-top: 10px;
        padding: 8px;
        font-size: 12px;
    }

    .buttons {
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
    }

}

/*------------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------Tablet Screen-------------------------------------------------------------*/

@media screen and (min-width: 577px) and (max-width: 768px) {

    /*---------------------------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------Home Page----------------------------------------------------*/

    .Container0 {
        width: 95%;
    }

    .NavLogo {
        font-size: 12px;
    }

    .NavLinks ul li a {
        font-size: 15px;
    }

    .NavLinks ul {
        gap: 25px;
    }

    .Container1 {
        width: 90%;
        margin: auto;
    }

    .Content {
        margin-top: 180px;
        width: 100%;
        height: fit-content;
    }

    .Content h2 {
        font-size: 12px;
        padding: 8px 12px;
    }

    .Content h1 {
        font-size: 35px;
    }

    .Content p {
        font-size: 15px;
    }

    .Content a {
        font-size: 14px;
    }

    .HomePhoto {
        width: 40%;
        position: absolute;
        top: 42%;
        left: 58%;
    }

    /*---------------------------------------------------------------------------------------------------------------------*/

    /*-------------------------------------------------------About Me----------------------------------------------------*/

    .Title {
        font-size: 15px;
        margin-left: 30px;
        margin-bottom: 25px;
    }

    .Container2 {
        width: 95%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .AboutContent1 {
        width: 95%;
        margin-left: 15px;
    }

    .AboutContent1 h2 {
        white-space: inherit;
        font-size: 25px;
    }

    .first {
        font-size: 15px;
    }

    .second {
        width: 100%;
        font-size: 15px;
    }

    .AboutContent2 {
        margin-left: 15px;
        width: 95%;
    }

    .AboutContent2 h2 {
        font-size: 20px;
        padding-left: 5px;
    }

    .AboutContent2 p {
        font-size: 15px;
    }

    .AboutContent2 a {
        font-size: 15px;
    }

    .socialLinks {
        left: 93.5%;
        padding: 7px;
    }

    .socialLinks a i {
        font-size: 20px;
    }

    /*---------------------------------------------------------------------------------------------------------------------*/

    /*-------------------------------------------------------My Skills----------------------------------------------------*/

    .SkillsTitle {
        font-size: 20px;
        margin-bottom: 75px;
    }

    .SkillsTitle ::after {
        width: 80px;
        position: absolute;
        top: 115%;
        left: 45%;
    }

    .SkillsTitle ::before {
        width: 50px;
        position: absolute;
        top: 135%;
        left: 47%;
    }

    .SkillsContent ul li {
        padding: 15px 35px;
        font-size: 15px;
    }

    /*---------------------------------------------------------------------------------------------------------------------*/

    /*-------------------------------------------------------My Projects----------------------------------------------------*/

    .Container3 {
        gap: 70px;
    }

    .ProjectsTitle {
        font-size: 20px;
        margin-bottom: 75px;
    }

    .ProjectsTitle::after {
        width: 110px;
        position: absolute;
        top: 120%;
        left: 44%;
    }

    .ProjectsTitle ::before {
        width: 60px;
        position: absolute;
        top: 135%;
        left: 47%;
    }

    .ProjectsContent1 {
        width: 50%;
        padding-bottom: 25px;
    }

    .ProjectsContent1 h3 {
        margin-top: 5px;
        font-size: 18px;
        padding-bottom: 5px;
    }

    .ProjectsContent1 a {
        font-size: 12px;
    }

    .ProjectsContent2 {
        width: 50%;
        padding-bottom: 25px;
    }

    .ProjectsContent2 h3 {
        margin-top: 5px;
        font-size: 18px;
        padding-bottom: 5px;
    }

    .ProjectsContent2 a {
        font-size: 12px;
    }

    /*---------------------------------------------------------------------------------------------------------------------*/

    /*-------------------------------------------------------Contact Me----------------------------------------------------*/

    .ContactTitle {
        font-size: 12px;
        margin-left: 15px;
    }

    .ContactInformation {
        width: 100%;
    }

    .ContactInformation h3 {
        font-size: 23px;
        margin-bottom: 20px;
    }

    .ContactInformation ul li {
        white-space: inherit;
        font-size: 22px;
        margin-bottom: 20px;
    }

    .ContactForm {
        width: 95%;
        padding: 30px;
        /* margin-left: 35px; */
        margin: 0px auto;
    }

    /*---------------------------------------------------------------------------------------------------------------------*/

}

/*---------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------Phone Screen--------------------------------------------------*/

@media screen and (max-width: 576px) {

    /*---------------------------------------------------------------------------------------------------------------------*/

    /*-------------------------------------------------------Home Page----------------------------------------------------*/

    .Container0 {
        width: 100%;
        margin: auto;
    }

    .NavBar {
        width: 100%
    }

    .NavLogo {
        font-size: 13px;
        margin-left: 15px;
    }

    .NavLinks ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 85%;
        right: 1%;
        height: 40vh;
        width: 30vh;
        background-color: #131823;
        text-align: left;
        border: 1px solid #2563EB;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .NavLinks ul li a:hover {
        border-bottom: none;
        color: #2563EB;
    }

    .NavLinks ul li a {
        font-size: 15px;
        padding: 10px;
    }

    .bars {
        display: block;
        font-size: 25px;
        color: white;
        position: absolute;
        top: 35%;
        left: 93%;
    }

    .bars:hover {
        color: #4179f2;
    }

    .check:checked~ul {
        display: flex;
    }

    .Container1 {
        width: 90%;
        margin: auto;
    }

    .HomeContent {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 40px;
    }

    .HomePhoto {
        position: relative;
        top: 0%;
        left: 0%;
        width: 50%;
        max-width: 200px;
        margin-bottom: 20px;
    }

    .Content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 95%;
        height: fit-content;
        padding: 15px;
        margin-top: 0px;
        border-radius: 55px;
    }

    .Content h2 {
        font-size: 13px;
        padding: 3px 10px;
    }

    .Content h1 {
        font-size: 30px;
        font-weight: 700;
    }

    .Content p {
        font-size: 15px;
        font-weight: 400;
    }

    .Content ul {
        display: flex;
        justify-content: space-evenly;
        gap: 40px;
    }

    .Content a {
        display: inline-block;
        font-size: 15px;
        margin: 2px 5px;
        animation: content-links 3s ease-in-out infinite;
        transition: all 0.5s ease-in-out;
    }

    @keyframes content-links {

        0% {
            transform: translatey(0px);
        }

        50% {
            transform: translatey(-15px);
        }

        100% {
            transform: translatey(0px);
        }
    }

    /*---------------------------------------------------------------------------------------------------------------------*/

    /*-------------------------------------------------------About Me----------------------------------------------------*/

    .AboutMe {
        margin-top: 75px;
    }

    .Container2 {
        width: 95%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .Title {
        padding: 5px 12px;
        font-size: 12px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .AboutContent1 {
        width: 100%;
    }

    .AboutContent1 h2 {
        white-space: inherit;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .first {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 0px;
    }

    .second {
        font-size: 13px;
    }

    .AboutContent2 {
        width: 100%;
        padding: 25px;
    }

    .AboutContent2 h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .AboutContent2 p {
        line-height: 20px;
        margin-bottom: 15px;
        font-size: 14px;
    }

    .AboutContent2 a {
        display: inline-block;
        padding: 5px 8px;
        margin-right: 15px;
        font-size: 12px;
        animation: FloatingButtons 2s ease-in-out infinite;
    }

    @keyframes FloatingButtons {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(10px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    .socialLinks {
        display: none;
    }

    /*---------------------------------------------------------------------------------------------------------------------*/

    /*-------------------------------------------------------My Skills----------------------------------------------------*/

    .SkillsTitle {
        font-size: 20px;
        margin-bottom: 75px;
    }

    .SkillsTitle ::after {
        width: 80px;
        position: absolute;
        left: 43%;
    }

    .SkillsTitle ::before {
        width: 45px;
        position: absolute;
        left: 46%;
    }

    .SkillsContent ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        gap: 20px;
        flex-wrap: wrap;
    }

    .SkillsContent ul li {
        padding: 15px 30px;
        font-size: 15px;
    }

    /*---------------------------------------------------------------------------------------------------------------------*/

    /*-------------------------------------------------------My Projects---------------------------------------------------*/

    .ProjectsTitle {
        font-size: 20px;
        margin-bottom: 50px;
    }

    .ProjectsTitle::after {
        width: 110px;
        position: absolute;
        top: 120%;
        left: 41.5%;
    }

    .ProjectsTitle ::before {
        width: 60px;
        position: absolute;
        top: 135%;
        left: 45.5%;
    }

    .Container3 {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .ProjectsContent1 {
        width: 95%;
        padding-bottom: 15px;
    }

    .ProjectsContent1 h3 {
        font-size: 18px;
        margin-top: 5px;
    }

    .ProjectsContent1 p {
        font-size: 15px;
    }

    .ProjectsContent2 {
        width: 95%;
        padding-bottom: 15px;
    }

    .ProjectsContent2 h3 {
        font-size: 18px;
        margin-top: 5px;
    }

    /*---------------------------------------------------------------------------------------------------------------------*/

    /*-------------------------------------------------------Contact Me----------------------------------------------------*/

    .ContactMe {
        margin-top: 100px;
    }

    .ContactTitle {
        font-size: 10px;
        margin-left: 15px;
        margin-bottom: 25px;
    }

    .ContactInformation {
        width: 100%;
    }

    .ContactInformation h3 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .ContactInformation ul li {
        white-space: inherit;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .ContactForm {
        width: 95%;
        padding: 30px;
        margin-left: 10px;
    }

    .ContactForm label {
        display: inline-block;
        padding-bottom: 5px;
        width: 100%;
        font-size: 15px;
        margin-right: 20px;
    }

    .ContactForm input {
        width: 100%;
        margin-bottom: 20px;
    }

    .ContactForm textarea {
        width: 100%;
    }

    .button {
        margin-top: 10px;
        margin-right: 15px;
        padding: 8px;
        font-size: 12px;
    }

    .link {
        margin-top: 10px;
        padding: 8px;
        font-size: 12px;
    }

    .buttons {
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
    }

    
    /*---------------------------------------------------------------------------------------------------------------------*/

    /*------------------------------------------------------- Footer ----------------------------------------------------*/
    
}